<h2> You are creating a new station! </h2>

<form action="/stations/create" method="POST">
  <label>Station name</label><input type="text" name="name"/><br>
  <label>Latitude</label><input type="text" name="latitude"/><br>
  <label>Longitude</label><input type="text" name="longitude"/><br>
  <label>Docks available</label><input type="text" name="availableDocks"/><br>
  <label>Bikes available</label><input type="text" name="availableBikes"/><br>
  <input type="submit" class="btn" value="Create!"/>

</form>
